body {
    background-color: #111;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

/* header */
header .index {
    padding: 1.25em;
    display: flex;
    /* grid-template-columns: auto 1fr auto; 
    grid-template-rows: 1fr 1fr; */
    align-items: center;
    justify-content: left;
    background-color: #000000; 
    gap: 0.63em; 
    width: 100vw;
}

header h1 {
    font-size: 1.44em;
    font-weight: bold;
    /* margin: 0; */
    margin-left: 1em;
}

header p {
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    align-self: center; 
    margin-top: 2em;
}


header .index ::before {
    content: "";
    width: 4em;
    height: 0.13em;
    background-color: #4a90e2;
    position: absolute;
    top: 4em;
}

header .index ::after {
    content: "";
    position: absolute;
    width: 14em; 
    height: 0.13em;
    background-color: rgba(255, 255, 255, 0.2); 
    left: 8.2em;
    transform: translateX(-50%); 
    top: 4em;
}

/* section */
.introductie {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; 
    text-align: center;
    position: relative; 
    padding: 1.88em 1.25em;
}


.gradient {
    position: absolute;
    width: 15.63em; 
    z-index: -10; 
    opacity: 0.5; 
    top: 1em;
    right: -15%;
    transform: rotate(-90deg);
}

.gradient-2 {
    position: absolute;
    width: 15.63em; 
    z-index: -10;
    opacity: 0.5;
    left: -5%;
    transform: rotate(180deg);
    z-index: 1;
}


.blauwe-png {
    width: 16em;
    max-width: 100%;
    position: relative;
    left: 1em;
}


.introductie h4 {
    font-size: 1.13em;
    font-weight: bold;
    margin-top: 1.25em;
    /* z-index: 2; */
    margin-top: 2em;
    margin-left: 3em;
}


.introductie p {
    font-size: 0.88em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.31em;
    margin-top: 0em;
    margin-left: 3em;
}




.tasks {
    /* background: #191919; */
    /* width: 27em; */
    padding: 3em 0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 1.25em;
    margin-left: 2.5em;
}


ul {
    list-style: none;
    max-width: 24em; 
    padding: 0;
    margin: 0 auto; 
    margin-left: -2.5em;
}

ul li {
    width: 100%;
    margin-top: -2em;
    padding: 1.25em;
}

.exercise {
    background-color: #000000; 
    padding: 20px;
    margin: 10px 0;
    gap: 10px;
    align-items: center;
    position: relative;
    border-radius: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.586); 
}

.image {
    width: 17em;
}


.exercise .a-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #71b7d6; 
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.exercise h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.exercise p:nth-of-type(2) {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.exercise p:nth-of-type(3) {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.exercise p:nth-of-type(4),
.exercise p:nth-of-type(5) {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 5px;
}


